{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["react", "prettier"],
    "rules": {
        "import/no-unresolved": ["error", { "commonjs": true }],
        "no-duplicate-imports": "off",
        "no-undef": "error",
        "no-unused-vars": "warn",
        "prefer-const": "warn",
        "prettier/prettier": [
            "warn",
            {
                "jsxBracketSameLine": true,
                "printWidth": 100,
                "singleQuote": true,
                "tabWidth": 4
            }
        ],
        "react/display-name": "warn",
        "react/jsx-key": "warn",
        "react/prop-types": "warn",
        "react/react-in-jsx-scope": "error",
        "react/require-render-return": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx"]
            }
        },
        "react": {
            "version": "16.0"
        }
    }
}
