/*#region Font declaration*/
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/fonts/Roboto/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto/Roboto-Light.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('/fonts/Roboto/Roboto-Medium.ttf');
    font-style: normal;
    font-weight: normal;
}
/*#endregion*/

/*#region Normalizing CSS*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto-Regular', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
        'Ubuntu', sans-serif;
    line-height: 1;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    height: 100%;
    width: 100%;
    min-height: 500px;
}

@media screen and (max-height: 500px) {
    html,
    body {
        min-height: 100%;
    }
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #212121;
    -webkit-font-smoothing: antialiased;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

progress,
sub,
sup {
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

legend {
    box-sizing: border-box;
}

pre {
    font-family: monospace;
    font-size: 1em;
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Roboto-Medium', 'Roboto Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Oxygen', 'Ubuntu', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

b,
h5,
p,
strong {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

a {
    color: #2196f3;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

code,
kbd,
samp {
    font-family: monospace;
    font-size: 1rem;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ffeb3b;
    color: #4e5e6a;
    padding: 0 0.25rem;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
select {
    text-transform: none;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
    -webkit-appearance: button;
    -moz-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

[hidden],
template {
    display: none;
}
/*#endregion*/

/*#region Grid System*/
.grid:before,
.grid:after {
    display: table;
    content: '';
}

.grid:after {
    clear: both;
}

.grid,
.grid--padded {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (min-width: 45rem) {
    .grid--padded {
        width: 43rem;
    }
}

@media screen and (min-width: 64rem) {
    .grid {
        padding-left: 0;
        padding-right: 0;
    }
    .grid--padded {
        width: 64rem;
    }
}

@media screen and (min-width: 75rem) {
    .grid--padded {
        width: 75rem;
    }
}

.col {
    float: left;
}

.right-col {
    float: right;
}
/*#endregion*/
