/*#region Hero*/
/*#region Hero -> Navbar */
.navbar {
    padding: 1.75rem 0;
}

.navbar__logo {
    display: block;
    width: 3rem;
}

.navbar__logo-img {
    width: 100%;
}

@media screen and (min-width: 60rem) {
    .navbar__logo {
        width: 3.5rem;
    }
}
/*#endregion*/

/*#region Hero -> Body */
.hero__body {
    position: relative;
    padding: 5rem 1rem 0;
}

.hero__title {
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
}

.hero__subtitle {
    font-family: 'Roboto-Light', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
        'Ubuntu', sans-serif;
    font-size: 1.125rem;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 2rem;
}

.hero__memoji {
    display: block;
    width: 9rem;
    margin: 0 auto 4rem;
}

.hero__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__footer-img {
    width: 100%;
    padding: 0 2rem 0;
    max-width: 40rem;
}

@media screen and (min-width: 60rem) {
    .hero__body {
        padding-left: 0;
        padding-right: 0;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__subtitle {
        font-size: 1.5rem;
    }

    .hero__memoji {
        width: 16rem;
    }
}
/*#endregion*/
/*#endregion*/

/*#region About */
.about {
    margin-top: -15px;
}

.about__inner {
    padding: 7.5rem 1rem 12.5rem;
    background-color: #2196f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.about__text {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5;
    max-width: 54rem;
    color: #ffffff;
    font-family: 'Roboto-Light', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
        'Ubuntu', sans-serif;
    margin-bottom: 2rem;
}

.about__cv {
    background-color: transparent;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 0.25rem;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: 175ms ease;
}

.about__cv:hover {
    background-color: #ffffff;
    color: #1a9be6;
}

.about__breakdowns {
    margin: -10rem 1rem 5rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
}

.about__breakdown {
    width: 100%;
    padding: 3rem 2.5rem;
    min-height: 51rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.about__breakdown-img {
    height: 3.5rem;
    margin-bottom: 2rem;
}

.about__breakdown-title {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.4;
}

.about__breakdown-desc {
    width: 100%;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 4rem;
}

.about__breakdown-subtitle {
    color: #2196f3;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.about__breakdown-subdesc {
    margin-bottom: 4rem;
    text-align: center;
    line-height: 1.4;
}

.about__breakdown-list {
    list-style: none;
}

.about__breakdown-elem {
    text-align: center;
    line-height: 1.4;
    margin-bottom: 0.4rem;
}

@media screen and (max-width: 64rem) {
    .about__breakdowns.grid {
        width: calc(100% - 2rem);
    }

    .about__breakdown {
        border-bottom: 1px solid #dddddd;
        min-height: 0;
    }

    .about__breakdown:last-of-type {
        border-bottom: none;
    }
}

@media screen and (min-width: 64rem) {
    .about__inner {
        padding-bottom: 20rem;
    }

    .about__title {
        font-size: 1.75rem;
        margin-bottom: 2rem;
    }

    .about__text {
        font-size: 1.25rem;
    }

    .about__breakdown {
        width: calc(100% / 3);
        border-right: 1px solid #dddddd;
    }

    .about__breakdown:last-of-type {
        border-right: none;
    }
}
/*#endregion*/

/*#region Works */
.works {
    background-color: #ecf0f9;
    padding: 5rem 0 3.5rem;
}

.works__title {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

.works__subtext {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
}

.works__subtext-email {
    color: #2196f3;
}

.works__subtext-email:hover {
    text-decoration: underline;
}

.works__container {
    margin-bottom: 5rem;
}

@media screen and (min-width: 64rem) {
    .works__title {
        font-size: 1.75rem;
    }

    .works__subtext {
        margin-bottom: 5rem;
    }
}

/*#region Works -> Work */
.work {
    width: 100%;
    margin-bottom: 1.5rem;
    height: 15rem;
    perspective: 1000px;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
    border-radius: 0.5rem;
}

.work:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 64rem) {
    .work {
        width: calc((100% / 3) - 1rem);
    }

    .work:nth-of-type(3n + 1) {
        margin-right: 1rem;
    }

    .work:nth-of-type(3n + 2) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .work:nth-of-type(3n) {
        margin-left: 1rem;
    }
}

.work:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 155, 230, 0.5);
    transition: 175ms ease;
}

.work__inner {
    position: absolute;
    padding: 1rem;
    background-color: #ffffff;
    min-height: 12.5rem;
    top: 2.5rem;
    transition: top 225ms linear, background-color 225ms;
    z-index: 2;
}

.work__name {
    font-size: 1.25rem;
    color: #212121;
    font-family: 'Roboto-Medium', 'Roboto Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Oxygen', 'Ubuntu', sans-serif;
    margin-bottom: 1rem;
    transition: 220ms;
}

.work__desc {
    line-height: 1.4;
    min-height: 5rem;
}

.work__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.work__link {
    font-size: 1.25rem;
    margin-right: 1rem;
    color: #1a9be6;
}

@media screen and (min-width: 64rem) {
    .work__inner {
        background-color: rgba(0, 0, 0, 0.25);
        top: 12rem;
    }

    .work__name {
        color: #ffffff;
    }

    .work:hover:before {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .work:hover .work__inner {
        top: 2.5rem; /* Moved 2.5rem because the heighht of the work__inner is 12.5rem. And this will cover everything */
        background-color: #ffffff;
    }

    .work:hover .work__name {
        color: #212121;
    }
}
/*#endregion*/

/*#region Contact */
.contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact__title {
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 1.5rem;
}

.contact__subtitle {
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    font-family: 'Roboto-Light', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
        'Ubuntu', sans-serif;
    margin-bottom: 1.5rem;
}

.contact-form {
    max-width: 50rem;
}

.contact-form__container {
    width: 100%;
    margin-bottom: 2rem;
}

.contact-form__label {
    display: inline-block;
    margin-bottom: 0.25rem;
    font-family: 'Roboto-Light', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
        'Ubuntu', sans-serif;
}

.contact-form__input,
.contact-form__textarea {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
    transition: border-color 175ms;
}

.contact-form__textarea {
    min-height: 10rem;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
    border-color: #1a9be6;
}

.contact-form__submit {
    display: block;
    margin: 0 auto;
    width: 10rem;
    border: 1px solid #1a9be6;
    background: transparent;
    padding: 0.75rem;
    border-radius: 2rem;
    cursor: pointer;
    color: #1a9be6;
    transition: 200ms ease;
}

.contact-form__submit:hover,
.contact-form__submit:focus {
    background-color: #1a9be6;
    color: #ffffff;
}

@media screen and (min-width: 64rem) {
    .contact__title {
        font-size: 1.75rem;
    }

    .contact__subtitle {
        font-size: 1.4rem;
    }

    .contact-form__container {
        float: left;
        width: calc(50% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .contact-form__container--textarea {
        width: calc(100% - 2rem);
    }
}
/*#endregion*/

/*#region Footer */
.footer {
    background-color: #2196f3;
    padding: 7.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo {
    height: 5rem;
    margin-bottom: 1.5rem;
}

.footer__quote {
    line-height: 1.4;
    font-size: 1.25rem;
    max-width: 40rem;
    text-align: center;
    font-family: 'Roboto-Light', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
        'Ubuntu', sans-serif;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.footer__social-btn {
    color: #ffffff;
    font-size: 0.8rem;
    border: 1px solid #ffffff;
    padding: 0.75rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    transition: 175ms ease;
}

@media screen and (min-width: 64rem) {
    .footer__social-btn {
        font-size: 1rem;
        margin: 0 1rem;
        padding: 1rem;
    }
}

.footer__social-btn:hover {
    background-color: #ffffff;
    color: #2196f3;
}

.footer__copyright {
    font-family: 'Roboto-Light', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
        'Ubuntu', sans-serif;
    color: #ffffff;
}
/*#endregion*/
